audioread
azure-core
azure-storage-blob
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dnspython
elastic-enterprise-search
elastic-transport
gitdb
GitPython
idna
isodate
jmespath
plyvel
pycparser
PyJWT
pymongo
PyMySQL
python-dateutil
PyYAML
requests
s3transfer
six
smmap
tinytag
typing_extensions
urllib3